body {
  margin: 0;
  font-family: courier new, courier, monopace;
  background: linear-gradient(89deg, #3a6186 0%, #89253E 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	cursor: pointer;
}

